{% extends 'usuarios/base.html' %}

{% block content %}
<div class="card">
  <div class="card-body">
    <form method="POST" style="margin-top:100px;">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        {{form.email}}
      </div>
    
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">First Name</label>
        {{form.first_name}}
      </div>
    
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Last Name</label>
        {{form.last_name}}
      </div>
    
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Genero</label>
        {{form.genero}}
      </div>
    
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        {{form.password1}}
      </div>
    
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        {{form.password2}}
      </div>
      {{form.errors}}
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </div>
</div>

{% endblock %}